In [1]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in c:\anaconda3\envs\bprmls\lib\site-packages (from -r requirements.txt (line 1)) (2.3.5)
Requirement already satisfied: pandas in c:\anaconda3\envs\bprmls\lib\site-packages (from -r requirements.txt (line 2)) (2.3.3)
Requirement already satisfied: scikit-learn in c:\anaconda3\envs\bprmls\lib\site-packages (from -r requirements.txt (line 3)) (1.7.2)
Requirement already satisfied: openai in c:\anaconda3\envs\bprmls\lib\site-packages (from -r requirements.txt (line 4)) (2.9.0)
Requirement already satisfied: groq in c:\anaconda3\envs\bprmls\lib\site-packages (from -r requirements.txt (line 5)) (0.37.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dunith munasinghe\appdata\roaming\python\python311\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\envs\bprmls\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda3\envs\bprmls\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (3.6.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (4.12.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (0.28.1)
Requirement already satisfied: jiter<1,>=0.10.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (0.12.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (2.12.5)
Requirement already satisfied: sniffio in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (1.3.1)
Requirement already satisfied: tqdm>4 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in c:\anaconda3\envs\bprmls\lib\site-packages (from openai->-r requirements.txt (line 4)) (4.15.0)
Requirement already satisfied: idna>=2.8 in c:\anaconda3\envs\bprmls\lib\site-packages (from anyio<5,>=3.5.0->openai->-r requirements.txt (line 4)) (3.11)
Requirement already satisfied: certifi in c:\anaconda3\envs\bprmls\lib\site-packages (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 4)) (2025.11.12)
Requirement already satisfied: httpcore==1.* in c:\anaconda3\envs\bprmls\lib\site-packages (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 4)) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\anaconda3\envs\bprmls\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->-r requirements.txt (line 4)) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\anaconda3\envs\bprmls\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4)) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in c:\anaconda3\envs\bprmls\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4)) (2.41.5)
Requirement already satisfied: typing-inspection>=0.4.2 in c:\anaconda3\envs\bprmls\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: six>=1.5 in c:\anaconda3\envs\bprmls\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.17.0)
Requirement already satisfied: colorama in c:\users\dunith munasinghe\appdata\roaming\python\python311\site-packages (from tqdm>4->openai->-r requirements.txt (line 4)) (0.4.6)

# 1. Import Dependencies

In [2]:
import os
import numpy as np
import pandas as pd
import openai, groq

In [3]:
os.getcwd()

'c:\\Users\\Dunith Munasinghe\\Desktop\\ML Main Project\\ML-Main-Project\\Week 01'

# 2. Basic Information

In [4]:
df = pd.read_csv('data/raw/ChurnModelling.csv')
df.head()

,RowNumber,CustomerId,Firstname,Lastname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Grace,Williams,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,David,Jones,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Hank,Williams,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Eva,Taylor,699,France,Female,NaN,1,0.00,2,0,0,93826.63,0
4,5,15737888,Grace,Miller,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0

In [6]:
# get null values
df.isnull().sum()

RowNumber            0
CustomerId           0
Firstname            7
Lastname             6
CreditScore          0
Geography            0
Gender             108
Age                600
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

# 3. Handle Missing Values