# 1. Import Dependencies

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 2. basic Processing

In [2]:
df = pd.read_csv('data/processed/ChurnModelling_Missing_Values_Handled.csv')
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.00,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.00,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,38.91,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0

In [3]:
df['Age'].min() , df['Age'].max()

(np.float64(18.0), np.float64(92.0))

#Binning using Credit Score ,     we can also use age , salary or any numerical one

In [5]:
"""
Credit Score
350 - 580 => 'poor '
580 - 670 => 'average '
670 - 740 => 'good '
740 - 800 => 'very good '
800 - 850 => 'excellent'
"""

"\nCredit Score\n350 - 580 => 'poor '\n580 - 670 => 'average '\n670 - 740 => 'good '\n740 - 800 => 'very good '\n800 - 850 => 'excellent'\n"

In [7]:
def customer_binning_credit_score(score):
    if score < 580:
        return 'poor'
    if score < 670:
        return 'average'
    if score < 740:
        return 'good'
    if score < 800:
        return 'very good'
    if score <= 850:
        return 'excellent'
    else:
        assert True, "Invalid credit score"
        
df['CreditScoreBins'] = df['CreditScore'].apply(customer_binning_credit_score)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,619,France,Female,42.00,2,0.00,1,1,1,101348.88,1,average
1,608,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,average
2,502,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,poor
3,699,France,Female,38.91,1,0.00,2,0,0,93826.63,0,good
4,850,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,excellent