# 1. Import Dependencies

In [16]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Gender <Male, Female>

         Gender_Male ,  Gender_Female
Male     [1                0        ]
Female   [0                1        ]

Gender --> Nominal
Geography --> Nominal
CreditScoreBins --> Ordinal

In [17]:
df = pd.read_csv('data/processed/ChurnModelling_Binning_Applied.csv')
df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,average
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,average
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,excellent

# 2. Encode Ordinal Variables

#Norminal Variables

In [18]:
norminal_features = ['Geography', 'Gender']

geograpgy_dummies = pd.get_dummies(df['Geography'], prefix='Geography')
gender_dummies = pd.get_dummies(df['Gender'], prefix='Gender')

df_encoded = pd.concat([df, geograpgy_dummies], axis=1)
del df_encoded['Geography']

df_encoded = pd.concat([df_encoded, gender_dummies], axis=1)
del df_encoded['Gender']

df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,average,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,average,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,poor,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,good,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,excellent,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,39.00,5,0.00,2,1,0,96270.64,0,very good,True,False,False,False,True
9996,35.00,10,57369.61,1,1,1,101699.77,0,poor,True,False,False,False,True
9997,36.00,7,0.00,1,0,1,42085.58,1,good,True,False,False,True,False
9998,42.00,3,75075.31,2,1,0,92888.52,1,very good,False,True,False,False,True
9999,28.00,4,130142.79,1,1,0,38190.78,0,very good,True,False,False,True,False

#Encode Ordinal Variables

In [19]:
encode_dict_creditscore = {
                            'poor': 0,
                            'average': 1,
                            'good': 2,
                            'very good': 3,
                            'excellent': 4
}

df_encoded['CreditScoreBins'] = df_encoded['CreditScoreBins'].map(encode_dict_creditscore)
df_encoded.head(10)

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False
5,44.00,8,113755.78,2,1,0,149756.71,1,1,False,False,True,False,True
6,50.00,7,0.00,2,1,1,10062.80,0,4,True,False,False,False,True
7,29.00,4,115046.74,4,1,0,119346.88,1,0,False,True,False,True,False
8,44.00,4,142051.07,2,0,1,74940.50,0,0,True,False,False,False,True
9,27.00,2,134603.88,1,1,1,71725.73,0,2,True,False,False,False,True